.btn-brand{
  background-color: #2053C9;
  border: 2px solid #2053C9;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}
.btn-brand:hover{
  background-color: #fff;
  border: 2px solid #2053C9;
  color: #2053C9;
}

.text-brand{ 
  color: #2053C9;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
